.footer__content {
  background-color: #f2f2f2;
  padding: 20px;
  height: 250px;
  display: flex;
  align-items: flex-end;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_text {
  max-width: 400px;
  align-self: flex-end;
}

.footer_text p {
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.icon {
  margin: 0 10px;
}

.icon img {
  width: 40px;
  height: 40px;
}

.footer__legal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: auto;
}

.footer__legal button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
  color: #555;
  margin-bottom: 5px;
}

/* Стили модального окна */



.popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.close {
  position: fixed;
  top: 0px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
  font-size: 50px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popup p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
